<%= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="pageTitle">
    <div class="pageTitleJP">
        <p class="pageTitleJP_p">ジャンル</p>
        <div class="pageTitleENG"><p class="pageTitleENG_p">GENRE</p></div>
    </div>
</div>

<!--genres/new-->
<div class="form">
    <%= form_with model: @new_genre, url: genres_path, method: :POST do |g| %>
        <%= render 'layouts/error', model: g.object %>
        
        <div class="formBox">
            <p class="formLabel">ジャンル名</p>
            <%= g.text_field :name, autofocus: true, placeholder: "--ジャンル名--", :class=>"formInput"  %>
        </div>

        <div class="bt">
            <%= g.submit "新規作成/CREATE" %>
        </div>
    <% end %>
</div>
