<%= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="pageTitle">
    <div class="pageTitleJP">
        <p class="pageTitleJP_p">ログイン</p>
        <div class="pageTitleENG"><p class="pageTitleENG_p">SIGN IN</p></div>
    </div>
</div>
<!--user/Admins/new-->
<div class="form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "admin/shared/error_messages", resource: resource %>

    <div class="formBox">
      <p class="formLabel">メールアドレス</p>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"formInput" %>
    </div>

    <div class="formBox">
      <p class="formLabel">パスワード</p>
      <%= f.password_field :password, autocomplete: "current-password", :class=>"formInput"  %>
    </div>

    <div class="bt">
      <%= f.submit "ログイン/Sign In" %>
    </div>

  <% end %>
</div>
