<%= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="pageTitle">
    <div class="pageTitleJP">
        <p class="pageTitleJP_p">新規登録</p>
        <div class="pageTitleENG"><p class="pageTitleENG_p">SIGN UP</p></div>
    </div>
</div>

<!--user/registrations/new-->
  <div class="form">
    <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
      <%= render "user/shared/error_messages", resource: resource %>

      <div class="formBox">
        <p class="formLabel">ニックネーム</p>
        <%= f.text_field :name, autofocus: true, autocomplete: "--ニックネーム--", :class=>"formInput"  %>
      </div>

      <div class="formBox">
        <p class="formLabel">ユーザ名</p>
        <%= f.text_field :user_name, autocomplete: "--ユーザ名--", :class=>"formInput"  %>
      </div>

      <div class="formBox">
        <p class="formLabel">お住まい</p>
        <p class="formInput select" >
          <%= f.select :location, {'会津若松市内': 1, 
                                  '会津若松市外（福島県内）': 2, 
                                  '会津若松市外（福島県外）': 3},
                                  { include_blank: '--選択してください--'}%>  
        </p>
      </div>

      <div class="formBox">
        <p class="formLabel">メールアドレス</p>
        <%= f.email_field :email, autocomplete: "--メールアドレス--", :class=>"formInput"  %>
      </div>

      <div class="formBox">
          <p class="formLabel">パスワード</p>
          <%= f.password_field :password, autocomplete: "--パスワード--", :class=>"formInput"  %>
      </div>

      <div class="formBox">
        <p class="formLabel">パスワード<br>（確認）</p>
        <%= f.password_field :password_confirmation, autocomplete: "--パスワード(確認)--", :class=>"formInput" %>
      </div>

      <div class="bt">
        <%= f.submit "登録/REGISTER" %>
      </div>
    <% end %>

    <%= render "user/shared/links" %>
  </div>
</div>
