<--users/show-->

<div>
    <p>アカウント</p>
</div>

<div>
    <p>1</p>
    <p><%= @user.name %></p>
    <p><%= @user.user_name %></p>
    <p><%= @user.email %></p>
    <p><%= @user.location_name %></p>
</div>

<div>
    <p>2</p>
    <p><%= link_to "アカウントを編集", edit_user_path(@user.id) %></p>
    <p><%= link_to "ログアウト", destroy_user_session_path, method: :DELETE %></p>
    <p><%= link_to "アカウントを削除", user_path(@user.id), method: :DELETE %></p>
</div>