<%= stylesheet_link_tag 'newsIndex', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="pageTitle">
    <div class="pageTitleJP">
        <p class="pageTitleJP_p">お知らせ</p>
        <div class="pageTitleENG"><p class="pageTitleENG_p">ANNOUNCEMENT</p></div>
    </div>
</div>

<!--news/index-->
<div class="newsIndex">
    <% if admin_signed_in? %>
        <div class="bt">
            <%= link_to "新規投稿/NEW POST", new_news_path %>
        </div>
    <% end %>

    <div class="newsBodyBox">
        <% @news.each do |n| %>
            <div class="eachBox infoBox">
                <div class="dateBox">
                    <p class="date"><%= n.created_at.strftime("%Y/%m/%d") %></p>
                    <% if admin_signed_in? %>
                        <div class="btBox">
                            <p class="bt edit"><%= link_to "編集", edit_news_path(n.id) %></p>
                            <p class="bt destroy"><%= link_to "削除", news_path(n.id), method: :DELETE %></p>
                        </div>
                    <% end %>
                </div>
                <%= link_to news_path(n.id) do %>
                    <div class="titleBox">
                        <p  class="title"><%= n.title %></p>
                    </div>
                <% end %>
            </div>

            <div class="border"></div>
            
        <% end %>
    </div>

    <%= paginate @news %>
</div>