<%= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="pageTitle">
    <div class="pageTitleJP">
        <p class="pageTitleJP_p">お問合せ</p>
        <div class="pageTitleENG"><p class="pageTitleENG_p">CONTACT</p></div>
    </div>
</div>
<!--contacts/edit-->

    <div class="form">
        <%= form_with model: @contact, url: contact_path(@contact.id), method: :PATCH do |c| %>
            <div class="formBox">
                <p class="formLabel">お問合せID</p>
                <p class="formDone"><%= @contact.id %></p>
            </div>

            <div class="formBox">
                <p class="formLabel">名前</p>
                <p class="formDone">
                    <% if User.exists?(email: @contact.email)%>
                        <%= link_to @contact.name, user_path(User.find_by(email: @contact.email).id) %>
                    <% else %>
                        <%= @contact.name %>
                    <% end %>
                </p>
                <%= c.hidden_field :name, :value => @contact.name %>
            </div>

            <div class="formBox">
                <p class="formLabel">メールアドレス</p>
                <p class="formDone"><%= @contact.email %></p>
                <%= c.hidden_field :email, :value => @contact.email %>
            </div>

            <div class="formBox">
                <p class="formLabel">登録済み</p>
                <p class="formDone">
                    <% if User.exists?(email: @contact.email)%>
                        ◯
                    <% else %>
                        <br>
                    <% end %>
                </p>
            </div>

            <div class="formBox">
                <p class="formLabel">日付</p>
                <p class="formDone"><%= @contact.created_at.strftime("20%y/%m/%d") %></p>
            </div>

            <div class="formBox">
                <p class="formLabel">項目</p>
                <p class="formDone"><%= @contact.genre_name %></p>
                <%= c.hidden_field :genre, :value => @contact.genre %>
            </div>

            <div class="formBox">
                <p class="formLabel">件名</p>
                <p class="formDone"><%= @contact.title %></p>
                <%= c.hidden_field :title, :value => @contact.title %>
            </div>

            <div class="formBox">
                <p class="formLabel">お問合せ内容</p>
                <p class="formDone"><%= @contact.body %></p>
                <%= c.hidden_field :body, :value => @contact.body %>
            </div>

            <div class="formBox">
                <p class="formLabel">お問合せ対応</p>
                <%= c.text_area :reply_body, autocomplete: "--内容--", :class=>"formInput area"  %>
                <%= c.hidden_field :reply, :value => true %>
            </div>

            <div class="bt">
                <%= c.submit "送信/SUBMIT", data: {confirm: "送信しますか？"} %>
            </div>
        <% end %>
    </div>
</div>