<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="pageTitle">
    <div class="pageTitleJP">
        <p class="pageTitleJP_p">お問合せ</p>
        <div class="pageTitleENG"><p class="pageTitleENG_p">CONTACT</p></div>
    </div>
</div>

<!--contacts/index-->
<div class="index">

    <div class="indexBox">
        <table>
            <tr>
                <th>返信済</th>
                <th>日付</th>
                <th>項目</th>
                <th>件名</th>
                <th><br></th>
            <tr>

            <% @contacts.each do |c| %>
                <tr>
                    <td>
                        <% if c.reply == true %>
                            ◯
                        <% else %>
                            <br>
                        <% end %>
                    </td>
                    <td><%= c.created_at.strftime("%m/%d") %></td>
                    <td><%= c.genre_name %></td>
                    <td><%= c.title %></td>
                    <td><p class="bt edit"><%= link_to "編集", edit_contact_path(c.id)%></p></td>
                </tr>
            <% end %>
        </table>
        <%= paginate @contacts %>
    </div>
<div>