<--contacts/show-->

<div>
    <p>お問合せ #<%= @contact.id %></p>
</div>

<table>
    <tr>
        <th>お問合せID</th>
        <td><%= @contact.id %></td>
    </tr>
    <tr>
        <th>名前</th>
        <td><%= @contact.name %></td>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <td><%= @contact.email %></td>
    </tr>
    <tr>
        <th>登録済み</th>
        <td>
            <% if User.exists?(email: @contact.email)%>
                ◯
            <% else %>
                <br>
            <% end %>
        </td>
    </tr>
    <tr>
        <th>日付</th>
        <td><%= @contact.created_at.strftime("20%y/%m/%d") %></td>
    </tr>
    <tr>
        <th>ジャンル</th>
        <td><%= @contact.genre_name %></td>
    </tr>   
    <tr>
        <th>タイトル</th>
        <td><%= @contact.title %></td>
    </tr>
    <tr>
        <th>本文</th>
        <td><%= @contact.body %></td>
    </tr>    
    <tr>
        <th>ユーザ削除</th>
        <td><%= link_to "お問合せ削除", contact_path(@contact.id), method: :DELETE, data: {confirm: "削除しますか？"}  %></td>
    </tr>  
</table>