<%= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="pageTitle">
    <div class="pageTitleJP">
        <p class="pageTitleJP_p">投稿</p>
        <div class="pageTitleENG"><p class="pageTitleENG_p">POST</p></div>
    </div>
</div>

<!--post/edit-->
<div class="form">
    <%= form_with model: @post, url: post_path(@post.id), method: :PATCH do |p| %>
        <%= render 'layouts/error', model: p.object %>

        <div class="formBox">
            <p class="formLabel">タイトル</p>
            <%= p.text_field :title, autofocus: true, placeholder: "--タイトル--", :class=>"formInput" %>
        </div>

        <div class="formBox">
            <p class="formLabel">ジャンル</p>
            <p class="formInput select" >
                <%= p.collection_select(:genre_id, Genre.all, :id, :name, {include_blank: "--選択してください--"}) %>
            </p>
        </div>

        <div class="formBox">
            <p class="formLabel">内容</p>
            <%= p.text_area :body, placeholder: "--内容--", :class=>"formInput area" %>
        </div>

        <div class="formBox">
            <p class="formLabel">画像</p>
            <%= p.file_field :image, :class=>"formInput img" %>
        </div>

        <div class="bt">
            <%= p.submit "編集/EDIT" %>
        </div>
    <% end %>
</div>