<--posts/index-->

<div>
    <p>1</p>
    <p>検索</p>
    <p>ジャンル</p>
    <p>ソート</p>
</div>

<div>
    <% @posts.each do |p| %>
        <div style="border:solid;">  
            <div>
                <%= p.title %>
                <%= p.user.name %>
                <%= p.user.user_name %>
            </div>
            <div>
                <%= attachment_image_tag p, :image %>
                <%= p.body %>
            </div>
            <div>
                <% if user_signed_in? %>
                    <% if p.likes.exists?(user_id: current_user.id)%>
                        <%= link_to like_path(post_id: p.id), method: :DELETE do %>
                            <%= image_tag "heart_active.png"%>
                            <%= p.likes.count %>
                        <% end %>
                    <% else %>
                        <%= link_to like_path(post_id: p.id), method: :post do %>
                            <%= image_tag "heart_inactive.png"%>
                            <%= p.likes.count %>
                        <% end %>
                    <% end %>
                <% else %>
                    <%= image_tag "heart_inactive.png"%>
                    <%= p.likes.count %>
                <% end %>
            </div>

            <div style="border:solid;">
                <% if user_signed_in? %>
                    <%= form_with model: p.comments, url: comments_path do |c| %>
                        <%= c.text_field :body, autofocus: true, placeholder: "--コメント--"%>
                        <%= c.hidden_field :post_id, :value => p.id %>
                        <%= c.hidden_field :user_id, :value => current_user.id %>
                        <%= c.submit "コメントを送信する" %>
                    <% end %>
                <% end %>

                <p>コメント</p>
                <% p.comments.all.each do |c| %>
                    <%= c.body %>
                <% end %>

                <p>いいね</p>
            </div>
        </div>
    <% end %>
<div>