<--layouts/header-->

<div>
    <p>1</p>
    <% if user_signed_in?%>
        <p><%= link_to "ログアウト", destroy_user_session_path, method: :DELETE %></p>
    <% elsif admin_signed_in?%>
        <p><%= link_to "管理人 ログアウト", destroy_admin_session_path, method: :DELETE %></p>
    <% else %>
        <p><%= link_to "新規登録", new_user_registration_path %></p>
        <p><%= link_to "ログイン", new_user_session_path %></p>
    <% end %>
</div>

<div>
    <p><%= link_to "新着情報", news_index_path %></p>
    <p><%= link_to "投稿一覧", posts_path %></p>
    <% if admin_signed_in?%>
        <p><%= link_to "コンタクト一覧", contacts_path %></p>
    <% else %>
        <p><%= link_to "コンタクト", new_contact_path %></p>
    <% end %>
    <p><%= link_to "About Us", aboutUs_path %></p>
    <% if user_signed_in? %>
        <p><%= link_to "ユーザページ", user_path(current_user.id) %></p>
    <% elsif admin_signed_in? %>
        <p><%= link_to "ユーザ一覧", users_path %></p>
    <% end %>
</div>