<!--layouts/header-->
<%= stylesheet_link_tag 'header', media: 'all', 'data-turbolinks-track': 'reload' %>

<!--header-->
<div class="headerBox1">
    <%= link_to root_path, :class=>"iconBox" do %>
        <%= image_tag "icon.png", class:"icon" %>
    <% end %>

    <div class="userBox">
        <% if user_signed_in?%>
            <div class="bt">
                <%= link_to "ユーザページ", user_path(current_user.id) %>
            </div>
            <div class="bt">
                <%= link_to "ログアウト", destroy_user_session_path, method: :DELETE %>
            </div>
        <% elsif admin_signed_in?%>
            <div class="bt">
                <%= link_to "ユーザ一覧", users_path %>
            </div>
            <div class="bt">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :DELETE %>
            </div>
        <% else %>
            <div class="bt">
                <%= link_to "新規登録", new_user_registration_path %>
            </div>
            <div class="bt">
                <%= link_to "ログイン", new_user_session_path %>
            </div>
        <% end %>
    </div>
</div>

<div class="headerBox2">
    <div class="bt">
        <%= link_to "ホーム", root_path, :class=> "btLink" %>
    </div>
    <div class="bt">
        <%= link_to "探す", posts_path, :class=> "btLink" %>
    </div>
    <div class="bt">
        <%= link_to "お知らせ", news_index_path, :class=> "btLink" %>
    </div>
    <div class="bt">
        <% if admin_signed_in?%>
            <%= link_to "お問合せ一覧", contacts_path, :class=> "btLink" %>
        <% else %>
            <%= link_to "お問合せ", new_contact_path, :class=> "btLink" %>
        <% end %>
    </div>
    <% if admin_signed_in?%>
        <div class="bt">
            <%= link_to "ジャンル一覧", genres_path, :class=> "btLink" %>
        </div>
    <% end %>
    <div class="bt">
        <%= link_to "サイトについて", aboutUs_path, :class=> "btLink" %>
    </div>
</div>

<!--header-->